<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>will be back!!</title>
    </head>
    <body>
        <h1>Will be right Back!</h1>
        <p>Updates are going on server will be right back in some time...</p>
    </body>
</html>